
.error {
    -fx-text-fill: #D95454 !important; /* The error class should always override the default text-fill style */
}

.list-cell:empty {
    -fx-background-color: transparent;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: #444444;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: #E8E0D0;
}
